.resume {
    padding-top: 9rem;

    @include respond(bp-large) {
        padding-top: 3rem;
    }
}

.projects {
    padding-top: 9rem;

    display: flex;
    flex-direction: column;

    @include respond(bp-large) {
        padding-top: 3rem;
    }
}